// Style for button and pseudo button for input and link

.btn {
	color: $color_withe;
	font-family: $main_font_family;
	font-size: 14px;
	letter-spacing: 0.035em;
	font-weight: 700;
	padding: 22px 25px;
	border: 1px solid #ff4b38;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: #ff4b38;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 6px;
	transition: all 0.3s;
	text-transform: uppercase;

	&:hover {
		background-color: lighten(#ff4b38, 8%);
		color: $color_withe;
		text-decoration: none;
		border: 1px solid lighten(#ff4b38, 8%);
	}

	&:active,
	&:focus {
		background-color: darken(#ff4b38, 8%);
		color: $color_withe;
		border: 1px solid darken(#ff4b38, 8%);
	}

	&_outline {
		background-color: transparent;
		color: #ff4b38;

		.header & {
			padding: 13px 24px;
			font-size: 13px;
			text-transform: none;
			font-weight: 400;
		}
	}

	&_contrast {
		border-color: rgba($color_withe, .2);
		color: $color_withe;
	}

	&_plus {
		padding-right: 68px;
		position: relative;

		&:after,
		&:before {
			content: '';
			position: absolute;
			width: 15px;
			border: 1px solid $color_withe;
			top: 50%;
			margin-top: -2px;
			right: 20px;
		}

		&:before {}

		&:after {
			transform: rotate(90deg);
		}

		.header & {
			font-size: 12px;
		}
	}
	// @each $status_el, $color_bg in $el_colors {
	// 	&_#{$status_el} {
	// 		background-color: $color_bg;
	// 		border-color: $color_bg;
	// 		color: $btn_contrast_text_color;
	//
	// 		&:hover {
	// 			background-color: darken($color_bg, 7%);
	// 			color: $btn_contrast_text_color;
	// 		}
	//
	// 		&:active,
	// 		&:focus {
	// 			background-color: darken($color_bg, 10%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 	}
	// }
}
