.section {
    overflow: hidden;
    // padding-top: 30px;

    &__title {
        font-size: 28px;
        margin: 0 0 28px;
        font-weight: 800;
        letter-spacing: 0.01em;
        position: relative;

        @media (min-width: 768px) {
            font-size: 36px;
            margin: 0 0 48px;
        }

        &:before {
            content: attr(data-sub);

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #FAFAFA;
            font-size: 1.6em;
            font-weight: 800;
            z-index: -1;
            white-space: nowrap;

            @media (min-width: 768px) {
                font-size: 2.64em;
            }

            @media (min-width: 992px) {
                font-size: 3.944em;
            }

        }

        span {}
    }

    &__sub {
        line-height: 1.5;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            margin-bottom: 40px;
        }
    }
}
